# Files created by operating systems that shouldn't be committed.
._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes

# Developer-specific IDE files that shouldn't be committed.
*.xcodeproj
.idea
atlassian-ide-plugin.xml
